.navbar {
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  .navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
  }
  .navbar ul li a {
    text-decoration: none;
    color: blanchedalmond;
    opacity: 0.65;
    text-transform: uppercase;
  }
  .navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: olive;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.3s;
  }
  .navbar ul li:hover::after {
    width: 100%;
  }

  * {
    margin: 0px;
    padding: 0px;
  }
  .banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.13)),
      url(Pics/DSCF3508.JPG);
  
    
      
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .logo {
    height: 80px;
    opacity: 0.73;
    cursor: pointer;
  }

  .button {
    width: 100px;
  }


    .content {
        width: 85%;
        position: absolute;
        top: 24%;
        transform: translateY(-30%);
        justify-content: center;
        align-items: center;
    }
    .content h1 {
        font-size: 50px;
        color: blanchedalmond;
        margin-bottom: 20px;
        margin-top: 40px;
    }
    .content p {
        font-size: 25px;
        color: black;
        margin-bottom: 40px;
        margin-right: 38%;
        font-weight: 500;
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 20px;
            
    }
