html {
  scroll-behavior: smooth;
  font-size: xx-small;
}
.background {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.13)),
    url(Pics/DSCF3508.JPG);

  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
}
.logo {
  height: 80px;
  opacity: 0.73;
}

.content {
  width: 85%;
  position: absolute;
  top: 28%;
  transform: translateY(-30%);
  text-align: start;
  padding-left: 8%;
  color: blanchedalmond;
  opacity: 0.8;
  max-width: 50%;
  font-size: large;
}
.content h1 {
  font-size: xx-large;
}
.content p {
  padding-top: 10px;
}
button {
  width: 130px;
  height: 70px;
  padding: 5px 5px;
  text-align: center;
  margin: 20px 10px;
  border-radius: 10px;
  font-weight: bold;
  border: 2px solid blanchedalmond;
  background: transparent;
  color: blanchedalmond;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span {
  background: blanchedalmond;
  opacity: 0.3;
  width: 0;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span {
  width: 100%;
}

.email {
  height: 45px;
  width: 45px;
  opacity: 0.72;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.1s;
  transform-style: preserve-3d;
}

.insta {
  height: 45px;
  width: 45px;
}
.yt {
  height: 45px;
  width: 45px;
  opacity: 0.8;
}
button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttoncontainer {
  display: flex;
}
.button-1 {
  font-size: x-small;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "EB Garamond", serif;
}

html {
  font-size: 62.5%;
}

.banner {
  width: 100%;
  position: absolute;
  top: 35%;
}

.banner-text {
  text-align: center;
  color: #ffffff;
  font-size: 7rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-shadow: 0 0.2rem 0.5rem #888;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  margin-top: 2rem;
  text-align: center;
  width: 20vw;
}

.nav-link {
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: blanchedalmond;
  text-shadow: 0 0.2rem 0.5rem #1b0606;
}

.dropdown {
  margin-top: 0.01rem;
  position: relative;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  height: 0;
  transform: translateX(10%);
  transition: all 0.1s;
}

.nav-item:hover .dropdown {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  height: auto;
  transition: all 0.1s 0.2s;
}

.dropdown-item {
  text-align: left;
  padding: 0.4rem 0.4rem 0 0.4rem;
}

.dropdown-item:last-child {
  padding-bottom: 0.1rem;
}

.dropdown-link {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1rem;
  color: blanchedalmond;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.dropdown-item p {
  font-size: 1.6rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-link:hover {
  color: black;
  background-color: blanchedalmond;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
  max-width: 100%;
  opacity: 40%;
}

.dropdown-bg {
  background-color: grey;
  border-radius: 0.3rem;
  box-shadow: 0 0.5rem 1rem #757575;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  margin-top: 5px;
}

.dropdown-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
}
