* {
  margin: 0px;
  padding: 0px;
}
.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.13)),
    url(Pics/DSCF3508.JPG);

  
    
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.logo {
  height: 80px;
  opacity: 0.73;
  cursor: pointer;
}
.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a {
  text-decoration: none;
  color: blanchedalmond;
  opacity: 0.65;
  text-transform: uppercase;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: olive;
  position: absolute;
  left: 0;
  bottom: -7px;
  transition: 0.3s;
}
.navbar ul li:hover::after {
  width: 100%;
}

.content {
  width: 85%;
  position: absolute;
  top: 24%;
  transform: translateY(-30%);
  text-align: start;
  padding-left: 8%;
  color: blanchedalmond;
  opacity: 0.63;
  max-width: 50%;
  font-size: large;
}
.content h1 {
  font-size: xx-large;
}
.content p {
  padding-top: 10px;
}
button {
  width: 130px;
  height: 70px;
  padding: 5px 5px;
  text-align: center;
  margin: 20px 10px;
  border-radius: 10px;
  font-weight: bold;
  border: 2px solid blanchedalmond;
  background: transparent;
  color: blanchedalmond;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span {
  background: blanchedalmond;
  opacity: 0.3;
  width: 0;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span {
  width: 100%;
}

.email {
  height: 45px;
  width: 45px;
  opacity: 0.72;
  transition: all 0.3s ease-in-out; 
  transition-delay: 0.1s;
  transform-style: preserve-3d;
}

.insta {
  height: 45px;
  width: 45px;
}
.yt {
  height: 45px;
  width: 45px;
  opacity: 0.8;
}
button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttoncontainer {
  display: flex;
}
.button-1 {
  font-size: x-small;
}
